<div>
  <%= flash[:notice] %>
</div>


<div class = main>
  
  <div>
    
    <p><em>Title</em>:<%= @book.title %></p>

    
    <p><em>Body</em>:<%= @book.body %></p>
  </div>
  <div>
    <a href="/books/<%= @book.id %>/edit">Edit</a>
    <a href="/books">Back</a>
  