// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #6c6b6b;
}

body{
  margin:30px;
  font-size: 15px;
}


.main{
  display:block;
}



table {
  border-collapse: collapse;
}

td {
  text-align: left;
}

th{
  text-align: center;
}
td:first-child,
th:first-child {
  width: 250px;
  padding-bottom: 5px;
  padding-right: 10px;
}