// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body{
  margin:30px;
}


.new_main{
  display:block;
}



table {
  width: 100%;
  border-collapse: collapse;
}

td {
  text-align: left;
}

th{
  text-align: center;
}
td:first-child,
th:first-child {
  width: 150px;
  padding-bottom: 5px;
  padding-right: 10px;
}